# Secrets & Sensitive Files
*.secrets
ukwinika-backup.conf
*.env

# Temporary Files
*.tmp
/temp_*
/*.gpg

# Logs (Do not commit live logs)
*.log

# Editor Files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
